[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyttsx3 = "~=2.90"
speechrecognition = "~=3.10"
pyaudio = "~=0.2"
spacy = "~=3.5"
pip = "*"
install = "*"
python-dotenv = "~=1.0"

[dev-packages]

[requires]
python_version = "3.10"
